MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/feedtoread?retryWrites=true&w=majority
GROQ_API_KEY=gsk_your_groq_api_key_here
OPENROUTER_API_KEY=sk-or-v1-your_openrouter_api_key_here
